<div class="container">

  <%= form_for @story do |form| %>

    <% if @story.errors.any? %>
      <div id="error_explanation">
        <h2>
          <%= pluralize(@story.errors.count, "Error") %>
            prohibited this story from being created:
        </h2>
        <% @story.errors.full_messages.each do |msg| %>
          <small>
            <%= msg %>
          </small>
          <% end %>
      </div>
      <% end %>

        <div class="field">
          <%= label_tag(:title, "Title Your Story", class: "text-light label") %>
            <div class="control">
              <%= form.text_field :title, class: "input" %>
            </div>
        </div>

        <div class="field">
          <%= label_tag(:body, "Your Story...", class: "text-light label") %>
            <div class="control">
              <%= form.text_area :body, class: "input textarea", rows: 15 %>
            </div>
        </div>

        <div class="field">
          <div class="control">
            <%= form.submit "Submit", class: "button is-success" %>
          </div>
        </div>

        <% end %>

</div>