<section class="section form">
  <div class="container">

    <%= form_for @story do |form| %>

      <% if @story.errors.any? %>
        <div id="error_explanation">
          <h2>
            <%= pluralize(@story.errors.count, "Error") %>
            prohibited this story from being created:
          </h2>
          <% @story.errors.full_messages.each do |msg| %>
            <small><%= msg %></small>
          <% end %>
        </div>
      <% end %>

      <div class="form-group">
        <%= label_tag(:title, "Title Your Story", class: "text-light") %>
        <%= form.text_field :name, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= label_tag(:body, "Your Story...", class: "text-light") %>
        <%= form.text_field :name, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= form.submit "Submit", class: "btn btn-success" %>
      </div>

      <% end %>

  </div>
</section>