<section class="section">

  <div>
    <h1 id="logo" class="has-text-centered">Adventure Time!</h1>
  </div>
  <br>

  <div class="container">
    <div class="columns">
      <% @stories.each do |story| %>
        <div class="column is-half">
          <div class="card">
            <header class="card-header">
              <p class="card-header-title">
                <%= story.title %>
              </p>
            </header>
            <div class="card-content">
              <div class="content">
                <p>"
                  <%= story.body %>"</p>
                <span class="is-italic is-pulled-right">
                  --
                  <%= story.display_username %>
                </span>
                <br>
              </div>
            </div>
            <footer class="card-footer">
              <%= link_to "See the Full Story", story_path(story), class: "card-footer-item" %>
              <%= link_to "Create A Story Arc", new_story_arc_path(story), class: "card-footer-item" %>
            </footer>
          </div>
        </div>
        <% end %>
    </div>
  </div>
</section>