<section class="section">
  <div class="container">
    <div class="columns">
      <% @stories.each do |story| %>
        <div class="column">
          <div class="message is-medium">
            <header class="message-header">
              <p class="message-header-title">
                <%= story.snipped_title %>
              </p>
              <%= link_to "Submit A Story Arc", new_story_arc_path(story_id: story.id), class: "button is-outlined is-light" %>
            </header>
            <%= link_to story_path(story), class: "has-text-dark" do %>
              <div class="message-body index-story">
                <p>"
                  <%= story.snipped_body %>"
                </p>
                <br>

              </div>
              <span class="is-italic is-pulled-right">
                -- Submitted by:
                <%= story.display_username %>
              </span>
              <% end %>
          </div>
        </div>
        <% end %>
    </div>
  </div>
</section>