<section class="section">
  <div class="container">
    <div class="columns">
      <% @stories.each do |story| %>
        <div class="column">
          <div class="card">
            <header class="card-header">
              <p class="card-header-title">
                <%= story.title %>
              </p>
            </header>
            <%= link_to story_path(story), class: "has-text-dark" do %>
            <div class="card-content">
              <div class="content">
                  <p>"
                  <%= story.snipped_body %>"</p>               
                <span class="is-italic is-pulled-right">
                  --
                  <%= story.display_username %>
                </span>
                <br>
              </div>
            </div>
            <% end %>
            <footer class="card-footer">
              <%= link_to "View Full Story", story_path(story), class: "card-footer-item" %>
              <%= link_to "Submit A Story Arc", new_story_arc_path(story), class: "card-footer-item" %>
            </footer>
          </div>
        </div>
        <% end %>
    </div>
  </div>
</section>