<section class="section">
  <div class="container">
    <article class="message is-medium">
      <div class="message-header">
        <p>
          <%= @story.title %>
        </p>
      </div>
      <div class="message-body">
        <%= @story.body %>
        <span class="is-italic is-pulled-right">
          --
          <%= @story.display_username %>
        </span>
      </div>
    </article>
    <%= link_to "Top", '#logo', class: "button is-outlined is-dark" %>
    <%= link_to "Submit A Story Arc", new_story_arc_path(story_id: @story.id), class: "button is-outlined is-dark is-pulled-right" %>
  </div>
</section>