<section class="section">
  <a href="/">
    <h1 id="logo" class="has-text-centered">Adventure Time!</h1>
  </a>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="forms">
      <div class="field">
        <%= f.label :email, class: "label" %>
          <div class="control">
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "input" %>
          </div>
      </div>

      <div class="field">
        <%= f.label :password, class: "label" %>
          <div class="control">
            <%= f.password_field :password, autocomplete: "off", class: "input" %>
          </div>
      </div>

      <div class="is-grouped is-grouped-left">
        <%= f.submit "Log in", class: "button is-outlined is-success" %>
          <%= link_to "Sign Up", new_user_registration_path, class: "button is-inverted is-info"%>
      </div>
      <% end %>
    </div>
</section>