<section class="section">
  <div class="container">
    <div class="message">
      <header class="message-header">
        <p class="message-header-title">
          <%= @story.title %>
        </p>
        <span class="button">
            <%= link_to "Submit A Story Arc", new_story_arc_path(story_id: @story.id) %>
          </span>
      </header>
      <div class="message-body">
        <p>"
          <%= @story.snipped_body %>"
        </p>
        <br>
        -- Submitted by:
        <%= @story.display_username %>
      </div>    
    </div>
    <br>
    <br>
    <div class="columns">
      <% @arcs.each do |arc| %>
        <div class="column">
        <span id="has-voted" class="not-voted">You've Already Voted.</span>
          <div class="message">
            <header class="message-header">
              <span>
                <%= link_to "Vote Up!", story_arc_votes_path(arc_id: arc.id), method: :post, remote: true, class: "button is-inverted is-primary", id: "vote-button" %>
                <span class="votes"><%= arc.votes.count %></span>
              </span>
            </header>
            <%= link_to story_arc_path(id: arc.id) do %>
              <div class="message-body index-story">
                <p>"
                  <%= arc.snipped_body %>"
                </p>
                <br>
                -- <%= arc.display_username %>
              </div>
              <% end %>
          </div>
        </div>
        <% end %>
    </div>
    <%= link_to "Top", '#logo', class: "button is-outlined is-dark" %>
  </div>

</section>